/* Estilos para el producto 1101 Repostería */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-item {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.navbar-item:hover {
    background-color: #444;
}

h1, h2 {
    margin: 0;
}

section {
    padding: 50px;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px;
}

.product-image {
    background-position: center;
    background-image: url(l);
    background-size: 100% 100%;
    width: 15%;
    height: 50%;
    border-radius: 80%;
    margin-right: 20px;
    display: flex;
    margin-top: -8%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-image img {
    width: 140%;
    height: 100%;
    border-radius: 60%;
    object-fit: cover;
    object-position: center;
}

.product-description {
    font-style: italic;
    margin: 0;
    margin-right: 20%;
    margin-left: 20%;
    line-height: 200%;
    color: rgb(0,0,0);
}

.nombre-logo {
    color: rgb(0,0,0);
    margin-right: 1%;
    margin-top: 1%;
}

.alumno {
    color: rgb(0,0,0);
    margin-top: 1%;
    margin-left: 85%;
    font-size: 85%;
}

/* Estilos responsive */
@media (max-width: 768px) {
    /* Ajustar padding en sección de producto para pantallas pequeñas */
    .product-container {
        padding: 30px;
    }

    /* Ajustar tamaño de la imagen del producto para pantallas pequeñas */
    .product-image {
        width: 50%;
        height: 50%;
        margin-top: -10%;
        margin-right: 0;
    }

    /* Ajustar tamaño de la imagen interna del producto para pantallas pequeñas */
    .product-image img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    /* Ajustar margen en descripción del producto para pantallas pequeñas */
    .product-description {
        margin-right: -20%;
        margin-left: -15%;
        font-size: 110%;
        color: rgb(0,0,0)
    }

    /* Ajustar posición del nombre del alumno para pantallas pequeñas */
    .alumno {
        margin-left: 28%;
        color: rgb(0,0,0)
    }
}


/* Estilos de fondo */
.main-section {
    background-color: rgb(239, 227, 213);
    position: fixed;
    top: 50px; /* Ajusta esta altura según tu barra superior */
    bottom: 40px; /* Ajusta esta altura según tu pie de página */
    left: 0;
    right: 0;
    z-index: -1; /* Coloca el fondo detrás del contenido */
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
}
